/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2020, 3:22:23 PM
    Author     : duckiez
*/
body{
    padding: 0px;
    width: 1000px;
    margin: 0px auto;
    font-size: 20px;
}
#banner{
    height: auto;
    width: 1000px;
}
.slider{
    display: flex;
    overflow-x: auto;
    width: 1000px;
    height: 330px;
}
#menu{
    background: #ccccff;
    height: 40px;
}
#menu ul{
    margin: 0px;
    padding: 0px;
}
#menu ul li{
    list-style: none;
    float: left;
}
#menu ul li a{
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px 0px 20px;
}
#menu li:hover{
    background: #3399ff;
}

#main{
    margin-top: 10px;
}
#main #left{
    width: 700px;
    float: left;
    min-height: 500;
}
#main #right{
    width: 300px;
    float: left;
    min-height: 500px;
}
#main #right img{
    float: left;
    margin-right: 10px;  
    margin-bottom: 20px;
}
#footer{
    clear: both;
    background: #66ccff;
}
.form-group{
    margin: 10px 0px;
}
.form-control{
    width: 98%;
    padding: 5px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
}
.form-group label{
    font-weight: bold;
    font-variant: small-caps;
}
.form-control:focus{
    background-color: yellow;
    box-shadow: 0 0 3px red;
    border: 1px solid yellow;
}
.form{
    width: 400px;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[list=nganhhoc], input[list=place]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
